<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThoughtLogs</title>
    <link rel="icon" href="browser-icon.svg">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/compose.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@500&family=Pacifico&display=swap" rel="stylesheet">
    <!-- Quill Editor CSS -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

</head>
<body>

    <%- include("partials/navbar") -%>
    
    <section id="compose">
        <div class="container">
            <div class="row">
                
                <h1 class="pb-3">Create your own blog, feature yourself!</h1>
                <div class="col-md-8">
                        <form action="/" method="post">
                            <div class="mb-3">
                            <label for="emailId" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="emailId" name="email" required>
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                            <label for="authorName" class="form-label" >Name</label>
                            <input type="text" class="form-control" id="authorName" name="authorName" required>
                            </div>
                            <div class="mb-3">
                                <label for="title" class="form-label" >Title</label>
                                <input type="text" class="form-control" id="title" name="postTitle" required>
                            </div>
                            <div class="mb-3">
                                <label for="postBodyHtml" class="form-label">Post</label>
                                <div id="editor"></div>
                                <input name="postBodyHtml" type="hidden" id="postBodyHtml">
                                <label for="postBodyText" class="form-label"></label>
                                <input name="postBodyText" type="hidden" id="postBodyText">
                            </div>
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-3 pt-0">Choose your space</legend>
                                <div class="col-sm-9">
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="space" id="gridRadios1" value="Knowledge" checked>
                                    <label class="form-check-label" for="gridRadios1">Knowledge</label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="space" id="gridRadios2" value="Travel">
                                    <label class="form-check-label" for="gridRadios2">Travel</label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="space" id="gridRadios3" value="Health">
                                    <label class="form-check-label" for="gridRadios3">Health</label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="radio" name="space" id="gridRadios4" value="Others">
                                    <label class="form-check-label" for="gridRadios4">Others</label>
                                  </div>
                                </div>
                            </fieldset>
                            <div class="mb-3">
                                <label for="readTime" class="form-label" >Expected Reading Time(in min.) *</label>
                                <input type="number" class="form-control" id="readTime" name="readTime" required>
                            </div>
                            <button type="submit" class="btn btn-primary" onclick="fun()">Publish</button>
                        </form>
                </div>
            </div>
            
        </div>
    </section>
    
    
    


    <%- include("partials/footer") -%>


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <!-- Initialize Quill editor -->
    <script>
        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block'],

            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
            [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
            [{ 'direction': 'rtl' }],                         // text direction

            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'align': [] }],
            [ 'image' ],
            [ 'link' ],

            ['clean']                                         // remove formatting button
            ];

        var quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow',
            placeholder: 'Compose an epic...'
        });
    </script>
    <script>
        function fun() {
            let postBodyText = document.querySelector("#editor .ql-editor").innerText;
            let postBodyHtml = document.querySelector("#editor .ql-editor").innerHTML;
            document.querySelector("input#postBodyText").setAttribute("value", postBodyText);
            document.querySelector("input#postBodyHtml").setAttribute("value", postBodyHtml);
        }
    </script>
</body>
</html>
