#post{
    padding: 5% 8% 10% 8%;
}
.post-heading{
    font-weight: 500;
    border-left: solid 5px black;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 3.2rem;
    padding-left: 5%;
    font-family: 'Merriweather', serif;
}
.post-space {
    font-weight: 900;
    color:#969696;
}
.post-text{
    font-family: 'Merriweather', serif;
    line-height: 1.8;
    font-size: 1.1rem;
}
.post-text img {
    max-width: 100%;
}

.post-details {
    color: #969696;
    font-size: 0.85rem;
    padding: 0.5rem;
    margin-left: 2.5rem;
    font-weight: 700;
}
.author-img{
    width:40px;
    float:left;
    border-radius: 100%;
}